:host {
  display: block;
  margin: 20px 0;
}
table{
  border-spacing: 1px 2px;
  width: 1000px;
  height: 300px;
}

table caption{
  font-size: 18px;
}

table thead{
  background-color: #00544d;
  font-size: 14px;
  color: white;
}
/* 2016-2017 */
table tr.row {
  background-color: #f8f8f8;
  font-size: 14px;
}
/* 2018 */
table tr.lastRow {
  background-color: #00544d;
  font-size: 14px;
  color: white;
}

table img {
  width: 80px;
  float: left;
}

table th, td {
    padding:6px;
}

table img {
  padding-right: 20px;
}
