{% extends 'admin/change_form.html' %}

{% block after_related_objects %}
<div class="module">
  <h2>Embed Codes</h2>
  <h3>HTML</h3>
  <pre>&#60;{{ original.embed_code_tag_name }} url="<!--
    -->{{ request.scheme }}://{{ request.get_host }}<!--
    -->{{ original.get_absolute_url }}<!--
    -->"&#62;&#60;/{{ original.embed_code_tag_name }}&#62;</pre>
  <h3>WordPress</h3>
  <pre>[{{ original.embed_code_tag_name }} url="<!--
    -->{{ request.scheme }}://{{ request.get_host }}<!--
    -->{{ original.get_absolute_url }}"]</pre>
</div>

{{ block.super }}
{% endblock after_related_objects %}
