{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'reportcard/goal.css' %}">

<h1>{{ goal.title }}</h1>
<ul>
{% for performancemeasure in goal.performancemeasure_set.all %}
    <li><a href="{% url 'ccrpc.reportcard:summary' performancemeasure.slug %}">{{ performancemeasure.title }}</a></li>
{% endfor %}
</ul>
