{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'reportcard/style.css' %}">

<h1>Long Range Transportation Plan Report Card</h1>
{% if category_list %}
    <ul>
    {% for category in category_list %}
        <li><a href="{% url 'ccrpc.reportcard:detail' category.slug %}">{{ category.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No categories are available.</p>
{% endif %}
