{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'reportcard/style.css' %}">

<h1>ReportCard</h1>
{% if reportcard_list %}
    <ul>
    {% for reportcard in reportcard_list %}
        <li><a href="{% url 'ccrpc.reportcard:goals' reportcard.slug %}">{{ reportcard.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No reportcards are available.</p>
{% endif %}
