<h1>Rating Summary</h1>
<table border='1'>
  <tbody style="font-family: Open Sans">
    <tr>
      <th style="font-size: 18px" colspan="2">{{ performancemeasure.title }}</th>
    </tr>
    <tr>
      <td style="background-color: #00544d;color: white" height="55">Goal</td>
      <td style="background-color: #00544d;color: white">{{ performancemeasure.goal.description }}</td>
    </tr>
    <tr>
      <td style="background-color: #f8f8f8" height="35">Objective</td>
      <td style="background-color: #f8f8f8">{{ performancemeasure.objective }}</td>
    </tr>
    <tr>
      <td style="background-color: #f8f8f8" height="35">Performace Measure</td>
      <td style="background-color: #f8f8f8" height="35">{{ performancemeasure.description }}</td>
    </tr>
    {% for rating in performancemeasure.rating_set.all %}
    <tr>
      <td style="background-color: #f8f8f8" height="35">{{ rating.year }}</td>
      <td style="background-color: #f8f8f8" height="35">{{ rating.rating }}<>{{ rating.content }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- <ul>
{% for rating in performancemeasure.rating_set.all %}
    <li>{{ rating.year }}</li>
    <li>{{ rating.rating }}</li>
    <li>{{ rating.content }}</li>
    <li>{{ rating.value }}</li>
{% endfor %}
</ul> -->
