:host {
  display: block;
  margin: 20px 0;
}

h2 {
  text-align: center;
}
table {
  border-collapse: collapse;
}
table td.column-1 {
  background-color: #00544D;
}

table th, td {
  border: 1px solid black;
}

table th.thead {
  color: #00554e;
}

a {
  color: #00554e;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}

:host .rating-image {
  margin: 1rem 0;
}

:host .year {
  display: block;
  font-weight: bold;
  text-align: center;
}